{% extends 'base.html' %}    
{% load static %}
{% block content %}
<div class="about">
    <div class="aboutme">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in orci 
            at leo sollicitudin consectetur sed eu quam. Mauris sed massa nisl. 
            Integer est elit, ultricies et magna et, lobortis luctus nisi. Aenean
             egestas imperdiet accumsan. Cras elementum magna nec dolor maximus, 
             vitae tempus arcu lacinia.
        </p>
        <p class="author">
            John Doe - blog author
        </p>
    </div>
    <div class="photo">
        <img src="{% static 'img/author.jpg' %}" alt="me"/>

    </div>
</div>
    
{% endblock %}
