{% extends 'base.html' %}    

{% block content %}
    <div class="entries">
        <!-- <h1>List of entries</h1> -->

            <div class="entry">
                <button type="button" onclick="history.back()"  class="btn btn-outline-secondary btn-sm">Go back</button>
                
                <!-- <p class="return"><a href="{% url 'entries' %}"><i class="fa fa-arrow-left" aria-hidden="true"> back </i></a> </p> -->
                <h2 class="title">{{ entries.title }}</h2>
                <p>{{entries.body}}</p>
                <p class="date">{{entries.date|date:"H:i, d.m.Y"}}</p>
                {% if user.is_superuser %}
                    <a class="btn btn-danger" role="button" href="destroy/{{ entry.id }}" >Delete</a>
                    <a class="btn btn-warning" role="button" href="edit/{{ entry.id }}" >Edit</a>
                {% endif %}
            </div>

            <div class="comments">
                <h2>Comments</h2>
                {% if not entries.comments.all %}
                    No comments yet
                {% else  %}
                    {% for comment in entries.comments.all %}
                        <p><b>{{ comment.name }} - {{comment.date_added}}</b></p>
                        <p>{{ comment.body }}</p>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>

    </div>
{% endblock %}
