{% extends 'base.html' %}    

{% block content %}
    <div class="entries">
        <h1 class="list">List of entries</h1>
        {% for entry in entries %}
            <div class="entry">
                
                <h2 class="title">{{ entry.title }}</h2>
                <p>{{entry.reduction}}</p>
                <p class="date">{{entry.date|date:"H:i, d.m.Y"}}</p>
                <a href="entry/{{ entry.id }}/{{ entry.slug}}"><button class="btn btn-outline-secondary">READ MORE</button></a>
                
                {% if user.is_superuser %}
                    <a class="btn btn-danger" role="button" onclick="return confirm('Are you sure you want to delete this?')" href="destroy/{{ entry.id }}" >Delete</a>
                    <a class="btn btn-warning" role="button" href="edit/{{ entry.id }}" >Edit</a>
                {% endif %}

                
            </div>
        {% endfor %}
        
        <div class="pages">   
            <p class="num-of-pages">Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
            
            <ul class="pagination justify-content-center">   
                
                {% if entries.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{entries.previous_page_number}}">Previous </a></li>
                {% endif %}
            
                {% if entries.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{entries.next_page_number}}"> Next </a></li>
                {% endif %}
            </ul>  
        </div>
    </div>
{% endblock %}
